.deposit-amount{
  
  display: flex;
  flex-direction: column;
  margin-top: -2.5rem;
}
.screen-deposit-bank{
  margin-top: -2rem;
}
.dep-title{
  font-size: 2.4rem;
}


.dep-icon{
    /* background: linear-gradient(to right bottom, #3d8b3d, #367836, #2f6e2f, #296229, #235823); */
    background: linear-gradient(to right bottom, #40a640, #50b150);
    
}
.vault-icon{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 0.4rem 0.8rem;
    background: linear-gradient(to right bottom, #58c558, #098509);
    margin-left: -2rem;
}
.img-small-vault{
    /*margin: 0.2rem 0.1rem ;
    */transform: translateY(0.4rem);
    -webkit-transform: translateY(0.4rem);
    -moz-transform: translateY(0.4rem);
    -ms-transform: translateY(0.4rem);
    -o-transform: translateY(0.4rem);
}


.custom-loader-dep {
    margin:10rem auto ;
  width: 120px;
  height: 60px;
  display: grid;
  background:
    radial-gradient(farthest-side at bottom,#0000 calc(100% - 10px),#1EAF14 calc(100% - 8px) 96%,#0000) 0 0,
    radial-gradient(farthest-side at top   ,#0000 calc(100% - 10px),#1EAF14 calc(100% - 8px) 96%,#0000) 100% 100%;
  background-size:calc(50% + 4px) 50%;
  background-repeat: no-repeat;
  animation: h4 1.5s infinite linear;
}
.custom-loader-dep:before,
.custom-loader-dep:after {
  content:"";
  grid-area:1/1;
  background:inherit;
  animation: inherit;
  animation-duration: 2s;
}
.custom-loader-dep:after {
  --s:-1;
}

@keyframes h4 {
   100% {transform:rotate(calc(var(--s,1)*1turn))}
}


@media(max-width:410px){
  .screen-deposit-bank{
    margin-top: -5rem;
  }
  .deposit-amount{
    height: 10rem;
    margin-top: -5rem;
  }
  .dep-title{
    font-size: 1.8rem;
  }

}