 /* background: linear-gradient(210deg,#CDA3AB,#9385BC,#4C60D2);*/

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 65rem;
  background-color: mintcream;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}



.modal__header {
  font-size: 3.25rem;
  margin-bottom: 4.5rem;
  line-height: 1.5;
}

.modal__form {
  margin: 0 3rem;
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  gap: 2.5rem;
  
}

.modal__form label {
  font-size: 1.7rem;
  font-weight: 500;
}

.modal__form input {
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 1.5rem;
  outline: none;
  background-color: var(--color-primary-opacity);
  box-shadow: inset 1px 1px 1px 1px;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
}

.modal__form button {
  grid-column: 1 / span 2;
  justify-self: center;
  margin-top: 1rem;
  box-shadow:  1px 1px 4px 1px #222;
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}


.controls{
    display: flex;
    position: relative;
    width: 200%;
    top: 2rem;
    /* left: 10%; */
    
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.switchLink{
    position: relative;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top:2rem;
    padding-top:3rem;
    margin-left: 15rem;
}

.switchLink span{
    margin-left: 10px;
    color: var(--color-primary);
    text-decoration: underline;
    cursor: pointer;

}

.alert{
  color:  red;
  position: absolute;
  bottom: 18rem;
  left: 2rem;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
}

.loader{
  position: absolute;
  border: 1px solid;
  top: 0;
  left: 0;
  border-radius: 25px;
  padding: 3rem;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.95);
  color: aliceblue;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.load{
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 2rem;  
}

.load-text{
  font-size: 22px;
  font-weight: 900;
  transform: translateY(-18px);
  -webkit-transform: translateY(-18px);
  -moz-transform: translateY(-18px);
  -ms-transform: translateY(-18px);
  -o-transform: translateY(-18px);
}

.load-message{
  font-size: 18px;
  text-align:center;
  font-weight:600;
}

.timer-text{
  font-size: 16px;
  font-weight:600;
  transform:translateY(5rem);
  -webkit-transform:translateY(5rem);
  -moz-transform:translateY(5rem);
  -ms-transform:translateY(5rem);
  -o-transform:translateY(5rem);
}
.timer{
  margin-left:1rem;
}

.custom-loader {
  width: 50px;
  height: 28px;
  background:
    radial-gradient(farthest-side,#5ec576 90%,#0000) 50%  0,
    radial-gradient(farthest-side,#5ec576 90%,#0000) 100% 0;
  background-size:12px 12px;
  background-repeat: no-repeat;
  position: relative;
  animation: d3-0 1.5s linear infinite;
}
.custom-loader:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background:var(--color-primary);
  left:0;
  top:0;
  animation: 
    d3-1 1.5s linear infinite,
    d3-2 0.5s cubic-bezier(0,200,.8,200) infinite;
}

@keyframes d3-0 {
  0%,31%  {background-position: 50% 0   ,100% 0}
  33%     {background-position: 50% 100%,100% 0}
  43%,64% {background-position: 50% 0   ,100% 0}
  66%     {background-position: 50% 0   ,100% 100%}
  79%     {background-position: 50% 0   ,100% 0}
  100%    {transform:translateX(calc(-100%/3))}
}

@keyframes d3-1 {
  100% {left:calc(100% + 7px)}
}

@keyframes d3-2 {
  100% {top:-0.1px}
}