.Deposit-Vault-Container {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 4rem auto;
  /*rotate: -15deg;
  */box-shadow: 0px 0px 15px 2px #222;
}

.dep-vault-image {
  /* rotate: 18deg; */
    scale: 0.9;
}

.btn-container {
  margin: 2rem auto;
  text-align: center;
}

.btn-deposit-create {
  /* text-align: center; */
  box-shadow: 0px 0px 8px 2px #222;
}

.options-container {
    /* border: 2px solid; */
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
}

.percentage-title {
    text-align: center;
    margin-top: 1rem;
    text-shadow: 0px 1.5px 5px #222;
}
.dep-amount,
.dep-term {
    /* border: 2px solid; */
    width: 100%;
    text-align: center;
    height: 15rem;
}

.term-title,
.amount-title {
    color: aliceblue;
    font-size: 18px;
    font-weight: 600;
    text-shadow: 0px 1.5px 5px #222;
    margin-bottom: 3rem;
}

.term-input {
    display: flex;
    /* border: 2px solid; */
    justify-content: center;
    color: aliceblue;
    gap: 1rem;
}
.term-label {
    color: aliceblue;
    font-weight: 600;
    font-size: 18px;
    text-shadow: 0px 1.5px 5px #222;
}
.term-amount {
    color: aliceblue;
    font-size: 28px;
    font-weight: 600;
    text-shadow: 0px 1.5px 5px #222;
}
.term-btn{
    padding: 0.4rem 1rem;
    height: 60%;
    margin: auto;
    font-size: 18px;
    background-image: linear-gradient(to top left, #39b384cf, #9be15d);   
    box-shadow: 0px 0px 4px 0.5px #222;
    border: none;
    
}
.term-btn:hover{
    box-shadow: 0px 0px 1px 1px #222 inset;
    /* box-shadow: none; */
    
}

.amount-input{
    background-color: transparent;
    border: none;
    text-align: center;
    box-shadow: none;
    font-size: 2.2rem;
    width: 70%;
    border-radius: 0.8rem;
    border-bottom: 2px solid aliceblue;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;
    caret-color: aliceblue;
    color: aliceblue;
    
}


.disabled{
    background-image: linear-gradient(to top left, #444f4bcf, #606a58);
    cursor: not-allowed;
    padding: 0.4rem 1rem;
    height: 10%;
    margin: auto;
    font-size: 18px;
    border: none;
}

.future-receive{
    color: aliceblue;
    text-align: center;
    font-size: 14px;
    text-shadow: 0px 1.5px 5px #222;
}
@media(max-width:410px){
    .Deposit-Vault-Container{
        width: 15rem;
        height: 15rem;
    }
    .dep-vault-image{
        scale: 0.7;
        translate: -3rem -2rem;
    }
    .term-title,.amount-title{
        font-size: 1.6rem;
    }
    .term-input,.amount-input{
        margin-top: -2rem;
    }
    .future-receive{
        margin-top: -4rem;
    }
    .options-container{
        margin-top: -2rem;
    }
    .percentage-title{
        font-size: 1.8rem;
        margin-top: -2rem;
    }
    .create-title{
        translate:0rem -2rem ;
    }
}