.vault-container {
  width: 24rem;
  height: 24rem;
  /* border: 2px solid; */
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0px 0px 15px 2px #222;
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}
.vault-img {
  scale: 1.15;
}

.info-title {
  text-align: center;
  text-shadow: 0px 1.5px 5px #222;
}
.vault-info{
    margin-top: -3rem;

}
.info-row{
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    /* border: 1px solid; */
    width: 85%;
    margin:0.7rem auto ;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    box-shadow: 0px 0px 5px 0.2px #222;
}

.info-row:hover{
    background-color: #555555;
    transition: all 1s;
    scale: 1.02;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.info-row-title{
    font-size: 16px;
    margin-right: auto;
}
.info-row-value{
    font-size: 16px;
}

.vault_functions {
  position: relative;
  /* border: 2px solid; */
  display: flex;
  align-items: center;
  justify-content: center;
  top: 1rem;
}

.vault_func {
  /*border: 2px solid;
  */text-align: center;
  padding: 0.8rem 0.5rem;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  width: 15rem;
  height: 6rem;
  font-size: 16px;
  /*color: aliceblue;
  */margin: 0.3rem auto;
  box-shadow: 0px 0px 10px 1px #222;
}

.dep-vault-icon {
  margin-right: 1.5rem;
  /* background-color: #39b385; */
  padding: 0.3rem 0.3rem;
  color: rgb(54, 99, 75);
}

/* #coin{
    color: rgb(255, 201, 64);
} */

@media(max-width:410px){
  .vault-container{
    width: 15rem;
    height: 15rem;
  }
  .vault-img{
    scale: 0.95;
    translate: -0.5rem;
  }

  .info-row{
    height: 4rem;
  }
  .info-row-title,.info-row-value{
    font-size: 1.4rem;
  }
  .vault_func{
    height: 4rem;
    font-size: 1.4rem;
    width: 12rem;
  }
}
