.balance{
    position: relative;
    /* border: 2px solid #222; */
    padding: 1.5rem;
    width: 100%;
    /* width: 45rem;
    max-width:45rem ; */
    height: fit-content;
    margin-left: auto;
    
}

.self-balance{
    padding: 3px;
    font-size: 28px;
    font-weight: 600;
}
.balance__value{
    margin-left: 2rem;
}


#currency{
    font-weight: 100;
    text-shadow: none;
}

.loan-balance{
    font-size: 16px;
    padding: 3px;
    font-weight: 600;
    margin-top: -10px;
}