.amount-cashback{
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    transform: translateY(8rem);
    -webkit-transform: translateY(8rem);
    -moz-transform: translateY(8rem);
    -ms-transform: translateY(8rem);
    -o-transform: translateY(8rem);
}

.cashBack--form{
    margin-top: 8rem;
}
.cashBack--form input{
    background-color: #7fa8c6;
    width: 15rem;
}

.btn--cashback{
    color: aliceblue;
    background-color: #0077cc;
}
.btn--cashback:hover{
    background-color: #035e9f;
}

.btn--disabled{
    cursor: not-allowed;
    background-color: rgb(50, 50, 50);
}

.cash-alert{
    font-size: 16px;
    border: 1px solid;
    /*width: 30rem;
    */left:0;
    bottom:15rem;
    margin-left:13rem;
    background-color: rgb(255, 182, 197);
    width: 25rem;
    border-radius:1rem ;
    -webkit-border-radius:1rem ;
    -moz-border-radius:1rem ;
    -ms-border-radius:1rem ;
    -o-border-radius:1rem ;
}

@media(max-width:410px){
    .cashBack--form input{
        width:12rem;
        translate:4rem;
        
    }
    .screen-cashback{
        margin-top: -5rem;
    }
    .cashBack--form{
        margin: 4rem auto;
        gap: 1rem;
        text-align: center;
    }
    .cash-alert{
        margin-left:4.5rem;
        
    }
    .amount-cashback{
        margin-top: -2rem;
    }
}