.modal__close-form {
  margin: 5rem 3rem;
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  gap: 2.5rem;
  
}

.modal__-close-form label {
  font-size: 2rem;
  font-weight: 500;
}

.modal__close-form input {
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  outline: none;
  background-color: #f99898;
  box-shadow: inset 1px 1px 1px 1px;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
}

.modal__form button {
  grid-column: 1 / span 2;
  justify-self: center;
  margin-top: 1rem;
  box-shadow:  1px 1px 4px 1px #222;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}

.control-delete{
    position: relative;
    left: 27rem;
    color: aliceblue;
    border-radius:20px;
    padding: 0.6rem 2rem;
    background-color:#e34b4b;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}

.control-delete:hover{
  background:#fe2e2e ;
}


@media(max-width:410px){
  .control-delete{
    position: relative;
    left: 24rem;
}

.modal__close-form input {
  font-size: 1.5rem;

}

}