.head-container{
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: baseline;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 2.5rem;
    /* border: 2px solid; */
}