.container {
  width: 100%;
  margin-bottom: 2rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.slot {
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  width: 17rem ;
  padding: 1.5rem 1rem auto;
  height: 4.5rem;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border-radius: 30px;
  box-shadow: 0px 3px 5px 0.5px #222;
  font-size: 15px;
  font-weight: 600;
  background-color: rgb(65, 65, 65);
  color: aliceblue;
  border: 1px solid rgb(84, 84, 84);
  box-shadow: 0px 1.5px 1px 1px rgb(84, 84, 84), 0px 3px 6px 2px #222;
}

.slot:hover {
  background-color: rgb(81, 81, 81);
  transform: scale(1.05);
  transition: all 1s;
}

@media (max-width:1200px){
  .slot{
    font-size: 0;
    text-align: center;
    width: 10rem;
  padding: .5rem 0.5rem;
  height: 4.5rem;
  align-items: center;
  text-align: center;
  }
  .slot > * {
    font-size: 16px; /* розмір шрифту для іконки */
    margin-right: -4rem;
  }
}
@media (max-width:750px){
  .slot{
    width: 6rem;
  height: 4.5rem;
  text-align:start;
  padding-right:3rem ;
  }
}
