.transfer--tablo{
    padding: 2rem;
    color: rgb(67, 67, 67);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 23rem;
}
.transfer--title{
    font-size: 24px;
    font-weight: 900;

}

.screen-transfer{
    margin-top: -26.4rem;
  box-shadow: 1px -1px 2px 2px #302f2f ;

}

.transfer-form{
    width: 100%;
}


.transfer-form input{
    color: #302f2f;
    width: 100%;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    border: none;
    border-bottom: 2px solid;
    font-size: 18px;
    
}

.icon{
    position: absolute;
    left: 1rem;
    top: 18rem;
}

.activeLabel{
    transition: all 1s;
     position: fixed;
     left: -6rem;
     top: 17rem;
     font-size: 17px;
     color: rgb(67, 67, 67);
     transform: translate(-1rem, -2.5rem);
}

.screen span {
    position:absolute;
    /* border: 2px solid; */
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    top: 1.5rem;
}


@media(max-width: 410px){
    .activeLabel{
        transform: translate(-2.8rem, 2rem);
        -webkit-transform: translate(-2.8rem, 2rem);
        -moz-transform: translate(-2.8rem, 2rem);
        -ms-transform: translate(-2.8rem, 2rem);
        -o-transform: translate(-2.8rem, 2rem);
        left: 0;
        font-size: 1.4rem;
}


.transfer-form{
    translate: 0rem -7rem;
    font-size: 1.2rem;
}
.transfer-form input{
    /* translate: 0rem -7rem; */
    font-size: 1.6rem;
}

.screen-transfer{
    margin-top: -33rem;
}

.icon{
    position: absolute;
    top:1rem;
    left: -1.2rem;
}


}
